<![endif]-->

<!---->
<script src="__STATIC__/index/js/jquery.min.js"></script>
<script src="__STATIC__/index/js/jquery-1.9.1.min.js"></script>
<!--<script src="__STATIC__/index/js/jquery-3.3.1.min.js"></script>-->
<script src="__STATIC__/index/js/bootstrap.min.js"></script>
<script src="__STATIC__/index/js/cat.js"></script>
<script src="__STATIC__/index/js/lunbo.js"></script>
<!--<script src="__STATIC__/index/bootstrap/js/bootstrap.min.js"></script>-->
<script src="__STATIC__/index/js/login.js"></script>
<script src="__STATIC__/index/layer/layer.js"></script>
<!--[if lt IE 9]>
<script src="__STATIC__/index/js/html5shiv.min.js"></script>
<script src="__STATIC__/index/js/respond.min.js"></script>

<![endif]-->