<footer>
    <div class="container">
        <div class="container">创文明校园，做文明学子
            <br>咨询服务：020-0000-xxx&nbsp;&nbsp;粤ICP备xxxxxxx号-1
            <br>xxxxxxxxxxxxxx许可证  |  xxxxxxxxxxx520222号
            <br>Copyright © Guangzhou NanYang Polytechnic All Rights Reserved  |  粤ICP备xxxxxxx号
        </div>
    </div>
</footer>
<div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form method="get" action="">
                    <div class="form-group">
                        <input type="text" class="form-control" name="s" placeholder="搜索文章、话题">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--登录注册模态框-->
<div class="modal fade user-select" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="" method="post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="loginModalLabel">登录</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="loginModalUserNmae">用户名</label>
                        <input type="text" class="form-control" id="loginModalUserNmae" placeholder="请输入用户名" autofocus maxlength="15" autocomplete="off" required>
                    </div>
                    <div class="form-group">
                        <label for="loginModalUserPwd">密码</label>
                        <input type="password" class="form-control" id="loginModalUserPwd" placeholder="请输入密码" maxlength="18" autocomplete="off" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary">登录</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--注册模态框-->
<div class="modal fade user-select" id="regModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="" method="post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="regModalLabel">注册</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="regModalUserName">用户名</label>
                        <input type="text" class="form-control" id="regModalUserName" placeholder="请输入用户名" autofocus maxlength="15" autocomplete="off" required>
                    </div>
                    <div class="form-group">
                        <label for="regModalEmail">邮箱</label>
                        <input type="text" class="form-control" id="regModalEmail" placeholder="请输入邮箱" autofocus maxlength="15" autocomplete="off" required>
                    </div>
                    <div class="form-group">
                        <label for="regModalPassword">密码</label>
                        <input type="password" class="form-control" id="regModalPassword" placeholder="请输入密码"  maxlength="18" autocomplete="off" required>
                    </div>
                    <div class="form-group">
                        <label for="regModalPasswords">重复密码</label>
                        <input type="password" class="form-control" id="regModalPasswords" placeholder="请输入重复密码" maxlength="18" autocomplete="off" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary">登录</button>
                </div>
            </form>
        </div>
    </div>
</div>

