<footer>
    <div class="container">
        <div class="container">创文明校园，做文明学子
            <br>咨询服务：020-0000-xxx&nbsp;&nbsp;粤ICP备xxxxxxx号-1
            <br>xxxxxxxxxxxxxx许可证  |  xxxxxxxxxxx520222号
            <br>Copyright © Guangzhou NanYang Polytechnic All Rights Reserved  |  粤ICP备xxxxxxx号
        </div>
    </div>
</footer>
<div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form method="get" action="">
                    <div class="form-group">
                        <input type="text" class="form-control" name="s" placeholder="搜索文章、话题">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>