<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="文明学园,学园文明">
    <meta name="description" content="文明学园">
    <title>文明校园网</title>
    <link href="__STATIC__/index/css/bootstrap.min.css" rel="stylesheet">
    <link href="__STATIC__/index/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="__STATIC__/index/css/font-awesome.min.css" rel="stylesheet">
    <link href="__STATIC__/index/css/style.css" rel="stylesheet">
    <link href="__STATIC__/index/css/media.css" rel="stylesheet">
    <link href="__STATIC__/index/css/lunbo.css" rel="stylesheet">
    <link href="__STATIC__/index/css/login.css" rel="stylesheet">

</head>