<header id="header">
    <div class="mobile-header-logo visible-xs-block visible-sm-block"></div>
    <span class="bg"></span>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col">
                <a class="logo pull-left hidden-xs" href="{:url('index/index')}">
                    <img src="__STATIC__/index/picture/logai-01.png"
                         alt="创文明校园"  style="height: 75%;"/>
                </a>
                <div id="nav">
                    <a class="nav-item" href="{:url('news/listing')}?tyid=1">校委领导</a>
                    <a class="nav-item" href="{:url('news/listing')}?tyid=2"> 思想道德</a>
                    <a class="nav-item" href="{:url('news/listing')}?tyid=3">学院文化</a>
                    <a class="nav-item" href="{:url('news/listing')}?tyid=4">文明礼仪</a>
                    <a class="nav-item" href="{:url('news/listing')}?tyid=5">活动阵地</a>
                    <a class="nav-item" href="{:url('news/listing')}?tyid=6">学园环境</a>
                </div>
            </div>
            <div class="col-md-6 col text-right" id="header-tools">
                <ul class="list-inline mb-0">
                    <li>
                        <a href="#" data-toggle="modal" data-target="#searchModal">
                            <i class="glyphicon glyphicon-search"></i>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="glyphicon glyphicon-edit"></i>
                        </a>
                    </li>
                    <li class="user unlog">
                        <a class="btn" style="background-color:#61B962;" href="">学院入口</a>

                         <span>|</span>
                         <a id="Regist_start_" class="btn" style="background-color:#419641;" href="">注册</a>
                        <span>|</span>
                        <a id="Login_start_" class="btn" style="background-color:#419641;" href="">登录</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>


</header>
