{include file='public/header' /}
<body>
<a id="toptg"></a>
{include file='public/header_log' /}
<div id="nav-show-bg"></div>
<script>
   /* $('#mobile-nav-btn').click(function(){
        $('#header').addClass('navshow');
        $('#nav-show-bg').css('display','block');
    });
    $('#nav-show-bg').click(function(){
        $('#header').removeClass('navshow');
        $(this).css('display','none');
    });*/
</script>
{include file='public/header_nav' /}
<div class="container">
	<div class="row single-post">
		<div class="col-md-9 col">
			<div class="panel panel-default panel-single-post">
				<div class="panel-heading">
					<h1 class="title mt-0 mb-20">{$new_con.news_title}</h1>
					<div class="post-info">
						<ul class="list-inline mb-0">
							<li><a href="">外国语学院</a>
							</li>
							<li class="hidden-xs hidden-sm">•</li>
							<li class="hidden-xs hidden-sm">{$new_con.create_at|date="Y-m-d",###}</li>
							<li>•</li>
							<li>{$new_con.news_vis}人阅读</li>
							<li>•</li>
							<li>
								<a href="{:url('news/listing')}?tyid={$new_con.news_tyid}">{$new_con.news_type}</a>
							</li>

						</ul>

					</div>

					<div class="bg"></div>
					<div class="bgimg blur" style="background-image:url();">
                        <img src="" />
                    </div>

				</div>

				<div class="panel-body">

					<div class="entry">
						<img src="__ROOT__/uploads/{$new_con.news_img}" alt="">
						<p> {$new_con.news_con}</p>
					</div>

					<a class="btn-like maoo_like_520 " href="">
						<i class="glyphicon glyphicon-heart"></i>
						<span>0</span>
					</a>
					<div class="media post-author hidden-xs hidden-sm" id="post-author-box">
						<div class="media-left">
							<a href="">
								<img class="media-object"
									 src="__STATIC__/index/picture/waiyulogin.jpg" alt="">
							</a>
						</div>

						<div class="media-body">
							<h4 class="media-heading">
								<a href="">外国语学院</a>
								<a class="btn-guanzhu " href="" id="maoo_guanzhu_61">
									<i class="glyphicon glyphicon-star"></i>
									关注
									<span>0</span>
								</a>
							</h4>

						</div>
						<div class="clearfix"></div>

					</div>

				</div>
			</div>

			<div id="react-post-comment-box"></div>
				<script type="text/jsx" src="__STATIC__/index/js/comment.js"></script>
				<script type="text/jsx">
				React.render(
					<BbsCommentBox url="" type="post" uid="" ulevel="" postId="520" pollInterval={10000} />,
					document.getElementById('react-post-comment-box')
				);
				</script>
		</div>
        <div class="col-md-3 col">
            <div class="home-side-box side-author">
                <a class="avatar" href="">
					<img src="__STATIC__/index/picture/waiyulogin.jpg" alt="">
				</a>
                <div class="clearfix mb-10"></div>
				<a class="name wto" href="">外语学院</a>
                <div class="clearfix mb-20"></div>
                <ul class="list-inline mb-10">
                    <li><a href="">动态 25</a></li>
                    <li><a href="">文章 25</a></li>
                    <li><a href="">评论 0</a></li>
                </ul>
                <div id="share-box">
                    <div class="bdsharebuttonbox">
                        <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                        <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                        <a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
                        <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                        <a href="#" class="bds_douban" data-cmd="douban" title="分享到豆瓣网"></a>
                        <a href="#" class="bds_meilishuo" data-cmd="meilishuo" title="分享到美丽说"></a>
                    </div>

                </div>
            </div>
            <div class="home-side-box side-latest-post">
				<h4 class="title mt-0 mb-10">
					<i class="fa fa-bars"></i> 最新文章
					<a class="pull-right" href="">更多</a>
				</h4>
				<ul class="media-list">
				{volist name="new_lis" id="vo"}
					<li class="media">
						<div class="media-left">
							<a class="wto" href="{:url('news/conn')}?newid={$vo.news_id}">
								<img class="media-object"
									 src="__ROOT__/uploads/{$vo.news_img}"
									 alt="">
							</a>
						</div>
						<div class="media-body">
							<h4 class="media-heading">
								<a href="{:url('news/conn')}?newid={$vo.news_id}">
									{$vo.news_title}
								</a>
							</h4>
							<div class="excerpt" style="display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 2;
overflow: hidden;">
								{$vo.news_con}
							</div>
						</div>
					</li>
				{/volist}




				</ul>
			</div>

		</div>
	</div>
</div>
{include file='public/footer' /}
<script>
   /* $('#searchModal').on('show.bs.modal', function (e) {
        $('#header').removeClass('navshow');
        $('#nav-show-bg').css('display','none');
    });*/
</script>
<script>
/*    $('.cartNumber').keyup(function(){
        var number = $(this).val();
        if(number>0) {
            $(this).parent('form').submit();
        }
    });*/
</script>


<![endif]-->
{include file='public/base_js' /}
</body>
</html>
