{include file='public/header' /}

<body>
<a id="toptg"></a>
{include file='public/header_log' /}
<div id="nav-show-bg"></div>

{include file='public/header_nav' /}



<div class="container">




    <div id="carousel-home" class="carousel slide">
        <div class="carousel-inner" role="listbox">
            <div class="top-img">
                <div class="activeimg-int">
                    {volist name="banner" id="vo"}
                    <img src="__ROOT__/uploads/{$vo.image}">
                   {/volist}
                </div>
               <!--	<div class="left"><img src="__STATIC__/index/images/left.png"> </div>
                    <div class="right"><img src="__STATIC__/index/images/right.png"></div>-->
            </div>
            <div class="bot-img">
                <ul>
                    {volist name="banner" id="vo"}
                    <li class="active">
                        <img src="__ROOT__/uploads/{$vo.image}"> </li>
                    {/volist}
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-9 col">
            <div class="post-list">
                <div class="home-side-box mb-0">
                    <h4 class="title mt-0 mb-10 hidden-xs hidden-sm">
                        <i class="fa fa-fire">

                        </i> 热门文章
                    </h4>
                </div>
                {volist name='new_list' id='vo'   empty='暂时没有数据'}
                <div class="post-518 post mb-20">
                    <a class="pull-left img-div" href="{:url('news/conn')}?newid={$vo.news_id}">
                        <img src="__ROOT__/uploads/{$vo.news_img}">
                    </a>
                    <div class="post-right">
                        <h2 class="title">
                            <a class="wto" href="{:url('news/conn')}?newid={$vo.news_id}">
                                {$vo.news_title}
                            </a>
                        </h2>
                        <div class="author mb-10">
                            <a class="avatar" href="{:url('news/conn')}?newid={$vo.news_id}">
                                <img
                                        src="__STATIC__/index/picture/nylogo.jpg"
                                        alt=""></a>
                            <a href="{:url('news/conn')}?newid={$vo.news_id}"></a>
                            <span class="dian">•</span><span>{$vo.create_at|date="Y-m-d",###}</span>
                            <div class="clearfix"></div>
                        </div>
                        <div class="entry mb-10" style="display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 3;
overflow: hidden;">
                            {$vo.news_con}
                        </div>
                        <ul class="list-inline mb-0">
                            <li><i class="glyphicon glyphicon-tag"></i>
                                <a href="{:url('news/conn')}?newid={$vo.news_id}">{$vo.news_type}</a></li>
                            <li><i class="glyphicon glyphicon-heart"></i> 0</li>
                            <li><i class="glyphicon glyphicon-eye-open"></i> {$vo.news_vis}</li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
            {/volist}

                <ul class="pagination">
                    {$new_list->render()}
                    <!--<li class='pnum disabled'>
                        <a href='javascript:;'>1/100</a>
                    </li>
                    <li class='first disabled'><a href='javascript:;'>&laquo;</a>
                    </li>
                    <li class='prev disabled'><a href='javascript:;'>&lsaquo;</a>
                    </li>
                    <li class="active"><a href="javascript:;">1</a>
                    </li>
                    <li><a href="">2</a>
                    </li>
                    <li><a href="">3</a>
                    </li>
                    <li><a href="">4</a>
                    </li>
                    <li><a href="">5</a>
                    </li>
                    <li class='next'><a href="">&rsaquo;</a>
                    <li class='last'><a href="">&raquo;</a>
                </li>-->
                </ul>
            </div>
        </div>
        <div class="col-sm-3 col hidden-xs hidden-sm">
            <div class="home-side-box side-latest-post">
                <h4 class="title mt-0 mb-10">
                    <i class="fa fa-bars"></i> 最新文章
                    <a class="pull-right" href="">更多</a>
                </h4>
                <ul class="media-list">

                    {volist name="news_list" id="von"}
                    <li class="media">
                        <div class="media-left">
                            <a class="wto" href="{:url('news/conn')}?newid={$von.news_id}">
                                <img class="media-object"
                                     src="__ROOT__/uploads/{$von.news_img}"
                                     alt="">
                            </a>
                        </div>
                        <div class="media-body" style="overflow: hidden;/*内容超出后隐藏*/

text-overflow: ellipsis;/* 超出内容显示为省略号*/

white-space: nowrap;">
                            <h4 class="media-heading">
                                <a href="{:url('news/conn')}?newid={$von.news_id}">
                                    {$von.news_title}
                                </a>
                            </h4>
                            <div class="excerpt" style="display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 3;
overflow: hidden;">
                                {$von.news_con}
                            </div>
                        </div>
                    </li>
                    {/volist}





                </ul>
            </div>
            <div class="home-side-box side-comment-list">
                <h4 class="title mt-0 mb-10">
                    <i class="fa fa-commenting-o"></i> 最新评论
                </h4>
                <ul class="media-list">
                </ul>
            </div>
        </div>
    </div>
</div>
{include file='public/footer' /}
<script>
   /* $('#searchModal').on('show.bs.modal', function (e) {
        $('#header').removeClass('navshow');
        $('#nav-show-bg').css('display','none');
    });*/
</script>
<div class="modal fade" id="cartModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">
						&times;
					</span>
                </button>

            </div>
            <div class="modal-body">
                <div class="nothing">

                </div>
            </div>
            <div class="modal-footer">


            </div>
        </div>
    </div>
</div>

<script>
   /* $('.cartNumber').keyup(function(){
        var number = $(this).val();
        if(number>0) {
            $(this).parent('form').submit();
        }
    });*/
</script>
<div class="mobile-foot-nav visible-xs-block visible-sm-block">
    <a class="mobile-foot-nav-item active" href="">
        <i class="fa fa-home"></i>
    </a>
    <a class="mobile-foot-nav-item " href="">
        <i class="fa fa-archive"></i>
    </a>
    <a class="mobile-foot-nav-item " href="">
        <i class="fa fa-star"></i>
    </a>
    <a class="mobile-foot-nav-item " href="">
        <i class="fa fa-gears"></i>
    </a>
</div>


{include file='public/base_js' /}



</body>
</html>
